#kapitoly {
	background-color: #ddd;
	border-radius: 10px;
	padding: 10px;
}

.box {
	background-color: #ddd;
	border-radius: 10px;
	padding: 10px;
}

.rem {
	font-size: 12px;
}

#hit {
	background-color: #ff4136;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 10%;
}

td {
	padding-top: 2px;
    padding-bottom: 2px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #111;
    color: white;
}

.js .obal div div {
	display: none;
	padding: .3em .5em;
}

.js .obal div.show div {
	display: block;
}

.js .obal h4 {
	cursor: pointer;
}

.obal div {
	background: #ddd;
}

.obal h4 {
	color: #fff;
	padding: .3em .5em;
	text-decoration: underline;
}


.obal #pirati h4 {
	background: #000;
}

.obal #spd h4 {
	background: #0062a4;
}

.obal #kscm h4 {
	background: #fe0000;
}